name: Build & publish module to registry

on:
  release:
    types: [published]

jobs:
  publish:
    strategy:
      matrix:
        include:
          - platform: linux/amd64
            runner: ubuntu-latest
            target_os: linux
            target_arch: amd64
            docker_image: ghcr.io/viamrobotics/antique2:amd64-cache
          - platform: linux/arm64
            runner: buildjet-8vcpu-ubuntu-2204-arm
            target_os: linux
            target_arch: arm64
            docker_image: ghcr.io/viamrobotics/antique2:arm64-cache
          - platform: darwin/arm64
            runner: macos-14
            target_os: darwin
            target_arch: arm64
          - platform: windows/amd64
            runner: ubuntu-latest
            target_os: windows
            target_arch: amd64
            docker_image: ghcr.io/viamrobotics/antique2:amd64-cache
          # - platform: android/arm64
          #   runner: ubuntu-latest
          #   target_os: android
          #   target_arch: arm64
          #   docker_image: ghcr.io/viamrobotics/antique2:amd64-cache

    runs-on: ${{ matrix.runner }}

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go (Darwin)
      if: matrix.target_os == 'darwin'
      uses: actions/setup-go@v5
      with:
        go-version: '1.23'

    - name: Build module (Darwin)
      if: matrix.target_os == 'darwin'
      run: make module

    - name: Build module (Docker)
      if: matrix.target_os != 'darwin'
      uses: ./.github/actions/build-module
      with:
        target_os: ${{ matrix.target_os }}
        target_arch: ${{ matrix.target_arch }}
        docker_image: ${{ matrix.docker_image }}

    - name: Upload viamrtsp module to registry
      uses: viamrobotics/upload-module@v1
      with:
        meta-path: meta.json
        module-path: module.tar.gz
        platform: ${{ matrix.platform }}
        version: ${{ github.ref_name }}
        key-id: ${{ secrets.VIAM_DEV_API_KEY_ID }}
        key-value: ${{ secrets.VIAM_DEV_API_KEY }}
