name: Linter, static checks, unit tests

on:
  push:
    branches:
      - main
    paths:
      - '**/**.go'
  pull_request:
    paths:
      - '**/**.go'
      - 'Makefile'
      - '.github/workflows/quality-checks.yml'

jobs:
  quality-checks:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.23'
    
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo add-apt-repository universe && sudo apt-get install -y libfuse2

    - name: Run linter and static checks
      run: make lint

    - name: Run unit tests
      run: make test

  quality-checks-darwin:
    runs-on: macos-14
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.23'

    - name: Run linter and static checks
      run: make lint

    - name: Run unit tests
      run: make test
